/*清楚默认样式*/
/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, lengend, button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}

/* 设置默认字体 */
body,
button, input, select, textarea { /* for ie */
    /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
    font: 14px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}

h1 { font-size: 18px; /* 18px / 12px = 1.5 */ }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }

address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置列表元素 */
ul, ol { list-style: none; }

/* 重置文本格式元素 */
a { text-decoration: none; }
a:hover { text-decoration: underline; }

abbr[title], acronym[title] { /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
    border-bottom: 1px dotted;
    cursor: help;
}

q:before, q:after { content: ''; }

/* 重置表单元素 */
legend { color: #000; } /* for ie6 */
fieldset, img { border: none; } /* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button, input, select, textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}

/* 重置表格元素 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 重置 hr */
hr {
    border: none;
    height: 1px;
}

/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html { overflow-y: scroll; }

/*page css*/
body{
    /*background: #ccc;*/
}
.clr:after{
    content: "";
    display: block;
    clear: both;
}
.container {
    width: 1000px;
    margin: 30px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 8px 10px 0 rgba(0,0,0,0.15);
}
header .personal-info {
    float: left;
    width: 50%;
}
.personal-info .avanta {
    position: relative;
    width: 140px;
    height: 140px;
    background: #000;
    border-radius: 50%;
    font-size: 30px;
    color: #fff;
    float: left;
}
.avanta span:first-child {
    position: absolute;
    top: 40px;
    left: 30px;
}
.avanta span:last-child {
    position: absolute;
    bottom: 40px;
    right: 30px;
}
.avanta:before {
    content: "";
    display: block;
    position: absolute;
    top: 70px;
    left: 20px;
    width: 100px;
    border-top: 2px solid #fff;
    transform: rotate(-40deg);
}
.personal-info h2 {
    margin: 20px 0 0 150px;
    font-size: 40px;
}
.personal-info p {
    margin: 20px 0 0 150px;
    font-size: 18px;
}
header .contact {
    float: left;
    width: 50%;
}
.contact h2{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 5px solid;
}
.contact p{
    line-height: 25px;
}
.contact strong{
    margin-right: 20px;
}
/*main部分*/
.experience,
.education {
    margin-top: 30px;
}
.experience h2,
.education h2 {
    width: 300px;
    padding-bottom: 10px;
    border-bottom: 1px solid;
}
.experience ul,
.education ul {
    margin-top: 20px;
}
.experience li,
.education li {
    position: relative;
    padding-left: 50px;
    border-left: 2px solid #eee;
}
.experience li:before,
.education li:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -5px;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #000;

}
.experience li h3,
.education li h3 {
    position: absolute;
    top: -5px;
    font-size: 18px;
}
.experience li p,
.education li p {
    padding: 25px 0;
    line-height: 25px;
}
.experience li:last-child p,
.education li:last-child p {
    padding-bottom: 0;
}
.experience .lighter, 
.education .lighter {
    color: #ccc;
}
.education h4{
    padding: 20px 0 0 0;
    color: #ccc;
}

/*footer区*/
.activities {
    float: left;
    width: 60%;
    margin-top: 30px;
}
.skills {
    float: left;
    width: 40%;
    margin-top: 30px;
}
.activities h2,
.skills h2 {
    padding-bottom: 10px;
    width: 300px;
    border-bottom: 1px solid;
}
.activities ul,
.skills ul {
    margin-top: 20px;
}
.activities li,
.skills li {
    position: relative;
    padding-left: 50px;
}
.activities li:before,
.skills li:before {
    content: "+";
    display: inline-block;
    position: absolute;
    left: -10px;
    top: 0;
    width: 15px;
    height: 15px;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
}
.activities h3,
.skills h3 {
    font-size: 18px;
}
.activities p,
.skills p {
    padding: 15px 0;
    line-height: 25px;
}
.skills li{
    float: left;
    width: 150px;
    margin: 0 0 30px 0;
}